header { 
	background-color:silver; 
	height: 50px; 
	text-align: center;
	} 
nav { 
	background-color:aqua; 
	height: 600px; 
	width: 30%; 
	float: left; 
	} 
main { 
	background-color:green; 
	height: 600px; 
	width: 40%; 
	float: left; 
	text-align: center;
	} 
aside {
	background-color:teal;
	height:600px;
	width:30%;
	float:left;
	}
footer { 
	background-color:blue; 
	clear: both; 
	}
	
